<h3>Welcome to Post It!</h3>

<ul>
<% @posts.each do |post| %>
  <li>
    <% if logged_in? %>
      (
      <%= link_to '+', vote_post_path(post, vote: true), method: 'post' %>
      <%= post.total_votes %>
      <%= link_to '-', vote_post_path(post, vote: false), method: 'post' %>
      )
    <% end %>
    <%= link_to post.title, post_path(post) %>
    <% if logged_in? %>
      <small><%= link_to '(Edit)', edit_post_path(post) %></small>
    <% end %>
  </li>
<% end %>
</ul>