<h3>Welcome to Post It!</h3>

<ul>
<% @posts.each do |post| %>
  <li>
    <% if logged_in? %>
      (
      <%= link_to '+', vote_post_path(post, vote: true), method: 'post',
        remote: true %>
      <span id="post_<%= post.id %>_votes"><%= post.total_votes %></span>
      <%= link_to '-', vote_post_path(post, vote: false), method: 'post',
        remote: true %>
      )
    <% end %>
    <%= link_to post.title, post_path(post) %>
    <small>
      [<%= link_to 'link', fix_url(post.url) %>]
    </small>
    <br />
    <small>Posted at: <%= display_datetime(post.created_at) %></small>
  </li>
<% end %>
</ul>