<h4><%= @post.title %></h4>
<strong><%= @post.description %></strong>
<small><%= @post.url %></small>

<% if logged_in? %>
  <%= render 'shared/errors', object: @comment %>
  <%= form_for [@post, @comment] do |f| %>
    <%= f.text_area :content %>
    <br />
    <%= f.submit 'Add a comment', class: 'btn' %>
  <% end %>
<% end %>

<h5>Comments:</h5>

<ul>
  <% @post.comments.each do |comment| %>
    <li>
      <% if logged_in? %>
        (
        <%= link_to '+', vote_post_comment_path(@post.id, comment.id,
          vote: true), method: 'post', remote: true %>
        <span id="comment_<%= comment.id %>_votes"><%= comment.total_votes %>
          </span>
        <%= link_to '-', vote_post_comment_path(@post.id, comment.id,
          vote: false), method: 'post', remote: true %>
        )
        <%= comment.content %> by <%= comment.creator.username %>
      <% end %>
    </li>
  <% end %>
</ul>